@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = null;
}

<html>
    <body>
       @Html.Sitecore().Placeholder("phMain")
       <br>
       My entity:
       <br>
       @Html.Sitecore().Field("id")
       @Html.Sitecore().Field("name")
    </body>
</html>

